.external_cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main {
    border-radius: 2px;
    height: auto;
    width: 100%;
    background: lightgrey;
    padding: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.input.cont {
    width: 400px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}
.search_movie {
    padding: 10px;
}
input {
        margin: 5px !important;
}
.nascosto {
    display: none;
}
#title {
    margin: 20px;
}


